
.book {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(20,20,20,0.4);
	border-radius: 3px;
	background: rgba(20,20,20,0.15);
	width: 700px;
	margin: 15px auto;
	padding-top: 15px;
	padding-bottom: 15px;
	.image {
		width: 150px;
		height: auto;
	}
	.content {
		border-left: 2px solid #06C1FF;
		width: 550px;
		height: 150px;
		padding-left: 8px;
		text-align: left;
		h2 {
			margin: 3px;
			font-size: 26px;
		}
		p {
			margin: 2px;
			font-size: 20px;
		}
		button:hover {
			border: 1px solid black;
		}
	}
}