$orange: #FF4A1F;
$pink: #FE0253;
$blue: #06C1FF;
$yellow: #FFD22B;

body {
	padding: 0;
	margin: 0;
	background: #FFEDE1;
  background-size: cover;
	color: rgb(25,25,25);
	text-align: center;
	font-size: 30px;
	font-family: 'Cormorant Garamond', serif;
	.errorsBox {
		color: #E71A3A;
	}
}

.aboutWrapper {
	text-align: center;
	h1 {
		font-size: 36px;
		width: 50vw;
		margin: 35px auto 0 auto;
		padding-bottom: 15px;
		border-bottom: 3px solid $blue;
	}
	h2 {
		font-size: 32px;
		margin: 25px auto;
	}
	p {
		width: 50vw;
		margin: auto;
		font-size: 26px;
	}
	h3 {
		width: 65vw;
		font-size: 28px;
		margin-left: auto;
		margin-right: auto;
	}

	a, a:visited {
		color: rgb(25,25,25);
		text-decoration: underline;
	}
	a:hover {
		color: $pink;
	}
	.credits {
	  	width: 55vw;
	 }
}

.navigationWrapper {
	background: rgb(40,40,40);
	background: #23231A;
	width: 100vw;
	min-height: 75px;
	.linksWrapper {
		margin: auto;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  a, a:visited {
	  	text-decoration: none;
	  	color: white;
	  }
	  .navLink {
	  	font-family: 'Gentium Basic', serif;
	  	padding-top: 7px;
	  	margin: 10px 20px;
	  }
	  .navLink:hover {
			color: rgba(250,250,250,0.85);
			color: $pink;
			cursor: pointer;
	  }
	  .activeRoute {
	  	color: #06FF9B !important;
	  	text-decoration: underline;
	  }
	}
}

.loginForm, .signupForm {
	width: 600px;
	margin: auto;
	padding-top: 8px;
	h1 {
		font-size: 45px;
	}
	input {
		font-size: 28px;
		margin: 10px;
		width: 500px;
		padding: 15px 10px;
		border: 1px solid rgba(20,20,20,0.25);
	}
	button {
		font-size: 32px;
		padding: 10px 20px;
		margin-bottom: 0;
		border: 1px solid rgba(20,20,20,0.25);
		background: white;
		margin: 25px;
		font-family: 'Gentium Basic', serif;
	}
	button:hover {
		cursor: pointer;
		background: rgba(220,220,220,0.2);
	}
	.socialLogin {
		margin: 15px auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		a, a:visited {
			width: 225px;
			margin: 5px;
		}
	}
}

// user book list view
.booksForTradeComponent {
	.book {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(20,20,20,0.4);
		border-radius: 3px;
		background: rgba(20,20,20,0.15);
		width: 700px;
		margin: 15px auto;
		padding-top: 15px;
		padding-bottom: 15px;
		.image {
			width: 150px;
			height: auto;
		}
		.content {
			border-left: 2px solid #06C1FF;
			width: 550px;
			height: 150px;
			padding-left: 8px;
			text-align: left;
			h2 {
				margin: 3px;
				font-size: 22px;
			}
			p {
				margin: 2px;
				font-size: 20px;
			}
			button:hover {
				border: 1px solid black;
			}
		}
	}
}

// homepage books list view
.booksListComponent {
	.book {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(20,20,20,0.4);
		border-radius: 3px;
		background: rgba(20,20,20,0.15);
		width: 700px;
		margin: 15px auto;
		padding-top: 15px;
		padding-bottom: 15px;
		.image {
			width: 150px;
			height: auto;
		}
		.content {
			border-left: 2px solid #06C1FF;
			width: 550px;
			height: 150px;
			padding-left: 8px;
			padding-top: 35px;
			text-align: left;
			h2 {
				margin: 3px;
				font-size: 26px;
			}
			p {
				margin: 2px;
				font-size: 20px;
			}
		}
	}
}

.accountComponent {
	h1 {
		border-bottom: 2px solid $blue;
		width: 500px;
		margin: 15px auto;
		padding-bottom: 5px;
	}
	p {
		font-size: 26px;
	}
	button {
		margin-top: 10px;
	}
}

.openTradesWrapper {
	h1 {
		border-bottom: 2px solid $blue;
		padding-bottom: 15px;
		margin-bottom: 35px;
		padding-top: 25px;
		width: 550px;
		margin: auto;
	}
	.receivedRequests, .pendingRequests, .notifications {
		.fa {
			margin-left: 7px;
		}
		.fa:hover {
			color: $pink;
			cursor: pointer;
		}
		width: 650px;
		margin: 15px auto;
		background: rgba(20,20,20,0.05);
		border: 1px solid rgba(25,25,25,0.25);
		border-radius: 3px;
		padding: 15px 12px;
		p {
			font-size: 22px;
		}
		h2 {
			font-size: 24px;
			margin: 7px auto;
		}
	}
}

// user's booklist component
.myCollectionComponent {
	.submission {
		color: $pink;
		margin-top: 7px;
	}
	.booksList {
		text-align: left;
		width: 750px;
		border: 1px solid rgba(20,20,20,0.2);
		border-radius: 3px;
		margin: 7px auto;
		padding: 12px;
		.title {
			font-size: 26px;
		}
		.author {
			font-size: 22px;
			button {
				font-size: 18px;
				border: 1px solid rgba(30,30,30,0.75);
				background: rgba(250,250,250,0.45);
				margin-left: 8px;
			}
		}
	}
	hr {
		width: 550px;
		background: $blue;
		height: 2px;
	}
}

.tradeRequest {
	position: absolute;
	width: 600px;
	height: 450px;
	top: 35px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 25px;
	border: 1px solid black;
	background: rgba(250,250,250,0.95);
	z-index: 5;
	p {
		font-size: 22px;
	}
	.success {
		color: $pink;
		width: 300px;
		margin: auto;
	}
	 select {
  	width: 400px;
  	margin-bottom: 12px;
  	font-size: 26px;
  }
  button {
  	background: rgba(235,235,235,0.75);
  	border: 1px solid black;
  	font-size: 28px;
		margin: 10px;
		padding: 7px 12px;
  }
  .submitBtn:hover {
  	background: $blue
  }
  .cancelBtn:hover {
  	background: $yellow;
  }
  button:hover {
  	background: $orange;
  }
}

@media only screen and (max-width: 900px) {
	.booksForTradeComponent {
		.book {
			width: 70vw;
			.image {
				width: 125px;
				height: auto;
			}
			.content {
				width: 55vw;
				height: 200px;
				padding-left: 8px;
				text-align: left;
				h2 {
					margin: 3px;
					font-size: 24px;
					width: 50vw;
				}
				p {
					margin: 2px;
					font-size: 20px;
				}
			}
		}
	}
	.booksListComponent {
		.book {
			width: 65vw;
			.image {
				width: 125px;
				height: auto;
			}
			.content {
				width: 30vw;
				height: 150px;
				padding-top: 12px;
				h2 {
					margin: 3px;
					font-size: 26px;
					width: 30vw;
				}
				p {
					margin: 2px;
					font-size: 20px;
				}
			}
		}
	}
	.aboutWrapper {
		h1 {
			width: 85vw;
			font-size: 36px;
			margin-top: 15px;
		}
		h2 {
			font-size: 32px;
			width: 70vw;
		}
		h3 {
			font-size: 28px;
			width: 70vw;
		}
		p {
			font-size: 22px;
			width: 75vw;
		}
		.credits {
			width: 75vw;
		}
	}
}

@media only screen and (max-width: 750px) {
	.openTradesWrapper {
		h1 {
			width: 85vw;
			font-size: 24px;
		}
		.receivedRequests, .pendingRequests, .notifications {
			width: 85vw;
			p {
				font-size: 20px;
			}
			h2 {
				font-size: 22px;
			}
			button {
				font-size: 20px;
			}
		}
	}
	.accountComponent {
		h1 {
			padding-bottom: 10px;
			width: 85vw;
			margin: 25px auto 20px auto;
		}
		p {
			font-size: 22px;
		}
		button {
			width: 85vw;
			font-size: 22px;
			margin-top: 15px;
		}
		input {
			font-size: 20px;
			width: 80vw;
		}
	}
	.tradeRequest {
		position: absolute;
		width: 90vw;
		height: 450px;
		top: 25px;
		h1 {
			font-size: 26px;
		}
		p {
			font-size: 18px;
		}
		select {
			width: 75vw;
			font-size: 18px;
		}
	  button {
	  	font-size: 22px;
			margin: 10px;
			padding: 7px 12px;
			width: 70vw;
	  }
	}
	.myCollectionComponent {
		h1 {
			font-size: 24px;
		}
		input {
			width: 85vw;
			font-size: 20px;
		}
		button {
			font-size: 22px;
		}
		.submission {
			font-size: 22px;
		}
		.booksList {
			text-align: left;
			width: 90vw;
			margin: 12px auto;
			.title {
				font-size: 20px;
				width: 80vw;
			}
			.author {
				font-size: 18px;
			}
		}
		hr {
			width: 85vw;
		}
	}
}

@media only screen and (max-width: 650px) {
	.booksForTradeComponent {
		h1 {
			font-size: 24px;
		}
		.book {
			width: 90vw;
			.image {
				width: 100px;
				height: auto;
			}
			.content {
				width: 55vw;
				height: 200px;
				padding-left: 10px;
				margin-left: 20px;
				text-align: left;
				h2 {
					margin: 3px;
					font-size: 20px;
					width: 50vw;
				}
				p {
					margin: 2px;
					font-size: 18px;
				}
				button {
					font-size: 22px;
				}
			}
		}
	}
	.booksListComponent {
		.book {
			width: 90vw;
			.image {
				width: 75px;
				height: auto;
			}
			.content {
				width: 55vw;
				height: 150px;
				text-align: left;
				padding-left: 15px;
				margin-left: 25px;
				h2 {
					width: 50vw;
					margin: 3px;
					font-size: 20px;
				}
				p {
					margin: 2px;
					font-size: 18px;
				}
			}
		}
	}
	.navigationWrapper {
		padding-top: 5px;
		padding-bottom: 10px;
		.linksWrapper {
			margin: auto;
		  display: flex;
		  flex-direction: column;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		  padding: 5px auto;
		  .navLink {
		  	font-size: 28px;
		  	margin: 5px;
		  	width: 100vw;
		  }
		  button {
		  	background: none;
		  	border: none;
		  	font-size: 28px;
				margin: 0;
				padding: 0;
		  }
		}
	}
	.aboutWrapper {
		h1 {
			width: 85vw;
			font-size: 28px;
			margin-top: 15px;
		}
		h2 {
			font-size: 22px;
			width: 80vw;
		}
		h3 {
			font-size: 20px;
			width: 90vw;
		}
		p {
			font-size: 16px;
			width: 85vw;
		}
		.credits {
			width: 85vw;
		}
	}
}

@media only screen and (max-width: 600px) {
	.loginForm, .signupForm {
		width: 100vw;
		margin: auto;
		h1 {
			font-size: 40px;
		}
		input {
			font-size: 24px;
			margin: 8px;
			width: 80vw;
			padding: 12px 8px;
		}
		button {
			font-size: 28px;
			padding: 8px 16px;
			margin: 18px;
		}
		.socialLogin {
			margin: 15px auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			a, a:visited {
				width: 225px;
				margin: 5px auto;
			}
		}
	}
}






